<div class="signup">
  <h1>SignUp for Alpha Blog</h1>

  <%= render 'shared/errors', obj: @user %>

  <!--  -->
  <div class="row">
    <div class="col-sm-12">
      <%= form_for @user do |f| %>
      <div class="col-sm-12">
        <div class="row first">
          <div class="control-label form-label col-sm-2">
            <%= f.label :username %>
          </div>
          <div class="col-sm-9">
            <%= f.text_field :username, class: "form-control", placeholder:
            "Enter" + " your username", autofocus: "true" %>
          </div>
        </div>
        <div class="row second">
          <div class="control-label form-label col-sm-2">
            <%= f.label :email %>
          </div>
          <div class="col-sm-9">
            <%= f.email_field :email, class: "form-control", placeholder:
            "Enter"+ " your username", autofocus: "true" %>
          </div>
        </div>
        <div class="row second">
          <div class="control-label form-label col-sm-2">
            <%= f.label :password %>
          </div>
          <div class="col-sm-9">
            <%= f.password_field :password, class: "form-control", placeholder:
            "Enter password", autofocus: "true" %>
          </div>
        </div>

        <div class="row last">
          <div class="col-sm-offset-2 submit-btn pt-01 col-sm-2">
            <%= f.submit "Sign Up", class: "btn btn-primary btn-lg" %>
          </div>
          <div class=" back-btn col-sm-offset-4  col-sm-2">
            <%= link_to "Back to articles", articles_path, class: "btn
            btn-primary btn-lg link-back"%>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
